<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="TourPlanner.DataAccess.Implementation"/>
		<add key="ImagePath" value="D:\Images"/>
		<add key="MapQuestKey" value="VHQbS2MdVCrDjOkVf5YDBv79fRqokCgq"/>
	</appSettings>
	
	<connectionStrings>
		<add name="PostgresSqlConnectionString" connectionString="Server=localhost;Port=5432;Database=tourdb;Username=postgres;Password=lglglg"/>
	</connectionStrings>
</configuration>